.settings
.project
/com.gongpingjia.carplay/com.gongpingjia.carplay.common/.settings
/com.gongpingjia.carplay/com.gongpingjia.carplay.common/.classpath
/com.gongpingjia.carplay/com.gongpingjia.carplay.common/.project
/com.gongpingjia.carplay/com.gongpingjia.carplay.service/.settings
/com.gongpingjia.carplay/com.gongpingjia.carplay.service/.classpath
/com.gongpingjia.carplay/com.gongpingjia.carplay.service/.project
/com.gongpingjia.carplay/com.gongpingjia.carplay.web/.settings
/com.gongpingjia.carplay/com.gongpingjia.carplay.web/.classpath
/com.gongpingjia.carplay/com.gongpingjia.carplay.web/.project
/com.gongpingjia.carplay/com.gongpingjia.carplay.thirdparty/.classpath
