<div class="">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <h4 class="modal-title">{{application.status === '待处理' ? '处理' : '修改'}}认证申请
                [{{application.createTime}}]</h4>
        </div>
        <div class="modal-body" style="height: 380px;">

            <div class="form-inline">
                <div class="control-group col-md-5">
                    <img src="{{application.license}}" ng-click="browsePhoto()" width="350px" height="300px">

                    <p>点击图片查看大图</p>
                </div>

                <div class="control-group col-md-7">
                    <div>
                        <div class="form-inline">
                            <div class="control-group col-md-3">
                                <div class="bolder ">手机：</div>
                                <input type="text" style="border: none; color: red; width: 100%;"
                                       ng-model="application.phone"
                                       ng-disable="isDeclined" readonly>
                            </div>
                            <div class="control-group col-md-2">
                                <div class="bolder ">驾龄：</div>
                                <input type="text" style="border: none; color: red;"
                                       ng-model="application.drivingExperience"
                                       ng-disable="isDeclined" readonly>
                            </div>
                            <div class="control-group col-md-7">
                                <div class="bolder ">车型：</div>
                                <input type="text" style="border: none; color: red;" ng-model="application.applyModel"
                                       ng-disable="isDeclined" readonly>
                            </div>
                        </div>

                        <div class="form-inline" style="margin-top: 20px;">
                            <div class="control-group col-md-6">
                                <div class="bolder ">姓名：</div>
                                <input type="text" id="name" ng-model="license.name" ng-disable="isDeclined">
                            </div>
                            <div class="control-group col-md-6">
                                <div class="bolder ">车牌：</div>
                                <input type="text" id="plate" ng-model="license.plate" ng-disable="isDeclined">
                            </div>

                        </div>

                        <div class="form-inline">
                            <div class="control-group col-md-6">
                                <div class="bolder ">车辆类型：</div>
                                <input type="text" id="vehicleType" ng-model="license.vehicleType" ng-disable="isDeclined">
                            </div>
                            <div class="control-group col-md-6">
                                <div class="bolder ">品牌型号：</div>
                                <input type="text" id="model" ng-model="license.model" ng-disable="isDeclined">
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="control-group col-md-6">
                                <div class="bolder ">车辆识别代号：</div>
                                <input type="text" id="vehicleNumber" ng-model="license.vehicleNumber" ng-disable="isDeclined">
                            </div>
                            <div class="control-group col-md-6">
                                <div class="bolder ">发动机号码：</div>
                                <input type="text" id="engineNumber" ng-model="license.engineNumber" ng-disable="isDeclined">
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="control-group col-md-6">
                                <div class="bolder" for="registerTime">注册日期：</div>
                                <div class="">
                                    <input type="text" ui-date ui-date-format="yy-mm-dd" id="registerTime"
                                           ng-model="license.registerTime" placeholder="注册日期" ng-disable="isDeclined">
                                </div>
                            </div>
                            <div class="control-group col-md-6">
                                <div class="bolder" for="issueTime">发证日期：</div>
                                <div class="">
                                    <input type="text" ui-date ui-date-format="yy-mm-dd" id="issueTime"
                                           ng-model="license.issueTime" placeholder="注册日期" ng-disable="isDeclined">
                                </div>
                            </div>
                        </div>

                        <div class="form-inline">
                            <div class="control-group col-md-12">
                                <div class="bolder ">地址：</div>
                                <input type="text" id="address" style="width:95%;" ng-model="license.address" ng-disable="isDeclined">
                                <!--<textarea name="address" ng-model="license.address" cols="80" rows="2"></textarea>-->
                            </div>
                        </div>
                    </div>
                    <div class="form-inline" ng-show="isDeclined">
                        <div class="control-group col-md-12">
                            <div class="bolder red">拒绝理由：</div>
                            <input type="text" id="remarks" ng-model="remarks">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div ng-show="application.status === '待处理'" ng-disable="isDeclined">
                <button class="btn btn-primary" ng-click="accept()">同意</button>
                <button class="btn btn-warning" ng-click="decline()">拒绝</button>
            </div>
            <div ng-hide="application.status === '待处理'">
                <button class="btn btn-primary" ng-click="update()">修改</button>
                <button class="btn btn-warning" ng-click="close()">取消</button>
            </div>
        </div>
    </div>
</div>