<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongpingjia.carplay.po.UserLocation" >
  <resultMap id="BaseResultMap" type="com.gongpingjia.carplay.po.UserLocation" >
	<id column="device_token" property="deviceToken" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="DOUBLE" />
    <result column="latitude" property="latitude" jdbcType="DOUBLE" />
    <result column="refreshTime" property="refreshtime" jdbcType="BIGINT" />
  </resultMap>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    	device_token, userId, longitude, latitude, refreshTime
    from user_location
    where device_token = #{deviceToken,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_location
    where device_token = #{deviceToken,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.gongpingjia.carplay.po.UserLocation" >
    insert into user_location (device_token, userId, longitude, 
      latitude, refreshTime)
    values (#{deviceToken,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE}, 
      #{latitude,jdbcType=DOUBLE}, #{refreshtime,jdbcType=BIGINT})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.gongpingjia.carplay.po.UserLocation" >
    update user_location
    set userId = #{userid,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      refreshTime = #{refreshtime,jdbcType=BIGINT}
    where device_token = #{deviceToken,jdbcType=VARCHAR}
  </update>
  
  <insert id="replaceIntoLocation" parameterType="com.gongpingjia.carplay.po.UserLocation">
    REPLACE INTO user_location (device_token, userId, longitude, 
      latitude, refreshTime)
    VALUES (#{deviceToken,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE}, 
      #{latitude,jdbcType=DOUBLE}, #{refreshtime,jdbcType=BIGINT})
  </insert>
  
  <select id="listUserByParam" parameterType="java.util.Map" resultType="java.util.Map">
	  SELECT
			device_token,userId,longitude,latitude,gender, isAuthenticated
		FROM
			user_location LEFT JOIN USER ON userId = id
		WHERE
			    longitude BETWEEN #{minLongitude,jdbcType=DOUBLE} AND #{maxLongitude,jdbcType=DOUBLE}
			AND latitude BETWEEN #{minLatitude,jdbcType=DOUBLE}	AND #{maxLatitude,jdbcType=DOUBLE}
			AND refreshTime > #{refreshTime,jdbcType=BIGINT}
		<if test="gender != null">
			AND gender = #{gender,jdbcType=VARCHAR}
		</if>
  </select>
</mapper>