<div class="">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <h4 class="modal-title">新增车商</h4>
        </div>
        <div class="modal-body" style="height: 100px">

            <!-- Row 1 -->
            <div class="form-inline col-md-12">
                <div class="control-group col-md-4">
                    <div class="bolder ">名称：</div>
                    <input type="text" id="name" placeholder="输入车商名称"
                           ng-model="dealer.name">
                </div>
                <div class="control-group col-md-4">
                    <div class="bolder ">城市：</div>
                    <input type="text" id="city" placeholder="输入车商所在城市"
                           ng-model="dealer.city">
                </div>
                <div class="control-group col-md-4">
                    <div class="bolder ">手机：</div>
                    <input type="text" id="phone" placeholder="输入车商联系方式"
                           ng-model="dealer.phone">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="add(dealer)">创建</button>
            <button class="btn btn-default" ng-click="close()">取消</button>
        </div>
    </div>
</div>