<div class="page-header">
    <h1>车商列表</h1>
</div>
<!-- /.page-header -->
<form class="form-horizontal" role="form">

    <div class="form-inline col-md-12">
        <div class="col-md-2">
            <label class="control-label bolder blue" for="dealer_name">车商名称</label>

            <div class="controls">
                <input type="text" id="dealer_name" ng-model="criteria.dealer_name"
                       placeholder="根据车商名称查询">
            </div>
        </div>

        <div class="col-md-2">
            <label class="control-label bolder blue" for="dealer_phone">车商电话</label>

            <div class="controls">
                <input type="text" id="dealer_phone" ng-model="criteria.dealer_phone"
                       placeholder="根据车商电话查询">
            </div>
        </div>

        <div class="col-md-1">
            <label class="control-label bolder blue" for="dealer_province">车商省份</label>

            <div class="controls">
                <select id="dealer_province" data-ng-model="provinceIndex"
                        ng-change="changeProvince(provinceOptions[provinceIndex])" style="width:100%;">
                    <option value="">全部</option>
                    <option ng-repeat="provinceOption in provinceOptions" ng-value="$index">
                        {{provinceOption.province}}
                    </option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <label class="control-label bolder blue" for="dealer_city">车商城市</label>

            <div class="controls">
                <select id="dealer_city" data-ng-model="criteria.dealer_city"
                        ng-change="changeCity()" style="width:100%;">
                    <option value="">全部</option>
                    <option ng-repeat="cityOption in cityOptions" ng-value="cityOption">
                        {{cityOption}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-inline col-md-12">
        <div class="clearfix visible‐xs‐block"></div>
        <div class="control-group pull-right">
            <button type="button" class="btn btn-info" ng-disabled="" ng-hide=""
                    ng-click="searchDealers(criteria)">查询
            </button>
            <button type="button" class="btn" ng-click="resetCriteria()">清除</button>
            <button type="button" class="btn btn-danger" ng-disabled="" ng-hide=""
                    ng-click="createDealer()">新增
            </button>
        </div>
    </div>

    <div class="control-group col-md-12">
        <table datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns"
               dt-column-defs="dtColumnDefs" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>车商名称</th>
                <th>车商电话</th>
                <th>车商城市</th>
                <th>拍车次数</th>
                <th>操作</th>
                <th style="display: none"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
            </tr>
            </tbody>
        </table>
    </div>
    <table class="pull-right">
        <thead>
        <tr>
            <th>
                <div><span>总计{{total ? total : 0}}条</span></div>
            </th>
        </tr>
        </thead>
    </table>
</form>


