<div class="">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <h4 class="modal-title">客服备注</h4>
        </div>
        <div class="modal-body" style="height: 100px">
            <div class="form-inline col-md-12">
                <div class="control-group col-md-2">
                    <div class="bolder ">客服处理状态：</div>
                    <select id="process_status" data-ng-model="record.process_status"
                            style="width:100%;">
                        <option value="pending">待处理</option>
                        <option value="processing">处理中</option>
                        <option value="done">已完成</option>
                    </select>
                </div>
                <div class="control-group col-md-10">
                    <div class="bolder ">备注内容：</div>
                    <input type="text" id="process_remarks" placeholder="请输入备注内容"
                           ng-model="record.process_remarks">
                </div>
                <div class="hidden">
                    <div class="bolder ">id：</div>
                    <input type="text" id="publish_id" ng-model="record.publish_id">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="update()">修改</button>
            <button class="btn btn-default" ng-click="close()">关闭</button>
        </div>
    </div>
</div>