<div class="">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <h4 class="modal-title">车商拍车明细&nbsp;&nbsp;（{{deals.length ? deals.length : 0}}条）</h4>
        </div>
        <div class="modal-body" style="margin-bottom: 10px">
            <table datatable="ng" dt-options="dtOptions"
                   dt-columns="dtColumnDefs" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>发布时间</th>
                    <th>姓名</th>
                    <th>电话</th>
                    <th>城市</th>
                    <th>品牌</th>
                    <th>型号</th>
                    <th>里程</th>
                    <th>上牌时间</th>
                    <th>估值</th>
                    <th>推送商家数</th>
                    <th>拍下时间</th>
                    <th>车商名</th>
                    <th>车商城市</th>
                    <th>车商电话</th>
                    <th>客服状态</th>
                    <th></th>
                    <th class="hidden"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="deal in deals">
                    <td>{{ deal.publish_time }}</td>
                    <td>{{ deal.contact }}</td>
                    <td>{{ deal.phone }}</td>
                    <td>{{ deal.city }}</td>
                    <td>{{ deal.brand }}</td>
                    <td>{{ deal.model }}</td>
                    <td>{{ deal.mile }}</td>
                    <td>{{ deal.year }}</td>
                    <td>{{ deal.eval_price }}</td>
                    <td>{{ deal.notify_count }}</td>
                    <td>{{ deal.deal_time }}</td>
                    <td>{{ deal.dealer_name }}</td>
                    <td>{{ deal.dealer_city }}</td>
                    <td>{{ deal.dealer_phone }}</td>
                    <td>{{ deal.process_status }}</td>
                    <td><a href="" ng-click="viewRemarks(deal)">客服备注</a></td>
                    <td class="hidden">{{ deal.trade_car_id }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>