<div class="">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <h4 class="modal-title">{{operation}}车商</h4>
        </div>
        <div class="modal-body" style="height: 100px">
            <div class="form-inline col-md-12">
                <div class="control-group col-md-4">
                    <div class="bolder ">名称：</div>
                    <input type="text" id="name" placeholder="输入车商名称"
                           ng-model="dealer.dealer_name" ng-disabled="isDisabled">
                </div>
                <div class="control-group col-md-4">
                    <div class="bolder ">城市：</div>
                    <input type="text" id="city" placeholder="输入车商所在城市"
                           ng-model="dealer.dealer_city" ng-disabled="isDisabled">
                </div>
                <div class="control-group col-md-4">
                    <div class="bolder ">手机：</div>
                    <input type="text" id="phone" placeholder="输入车商联系方式"
                           ng-model="dealer.dealer_phone" ng-disabled="isDisabled">
                </div>
                <div class="hidden">
                    <div class="bolder ">id：</div>
                    <input type="text" id="id"
                           ng-model="dealer.dealer_id" ng-disabled="isDisabled">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="update(dealer)">{{btnUpdateLabel}}</button>
            <button class="btn btn-danger" ng-click="delete()">删除</button>
        </div>
    </div>
</div>