<div class="page-header">
    <h1>头像认证申请</h1>
</div>
<!-- /.page-header -->
<form class="form-horizontal" role="form">

    <div class="form-inline col-md-12">
        <div class="col-md-2">
            <label class="control-label bolder blue" for="phone">手机</label>

            <div class="controls">
                <input type="text" id="phone" ng-model="criteria.phone" placeholder="根据手机号查询">
            </div>
        </div>

        <div class="col-md-2">
            <label class="control-label bolder blue" for="status">申请状态</label>

            <div class="controls">
                <select id="status" ng-init="criteria.status=''"
                        data-ng-model="criteria.status" style="width:100%;">
                    <option value="">全部</option>
                    <option value="未认证">未认证</option>
                    <option value="认证中">认证中</option>
                    <option value="认证通过">认证通过</option>
                    <option value="认证未通过">认证未通过</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <label class="control-label bolder blue" for="start">开始时间</label>

            <div class="">
                <input id="start" type="text" ui-date ui-date-format="yy-mm-dd" ng-model="criteria.startDate"
                       placeholder="开始时间">
            </div>
        </div>
        <div class="col-md-2">
            <label class="control-label bolder blue" for="end">结束时间</label>

            <div class="">
                <input id="end" type="text" ui-date ui-date-format="yy-mm-dd" ng-model="criteria.endDate"
                       placeholder="结束时间">
            </div>
        </div>
    </div>

    <div class="form-inline col-md-12">
        <div class="clearfix visible‐xs‐block"></div>
        <div class="control-group pull-right">
            <button type="button" class="btn btn-info" ng-disabled="" ng-hide=""
                    ng-click="searchApplications(criteria)">查询
            </button>
            <button type="button" class="btn" ng-click="resetCriteria()">清除</button>
        </div>
    </div>

    <div class="control-group col-md-12">
        <table datatable="ng" dt-options="dtOptions"
               dt-columns="dtColumnDefs" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th width="12%">时间</th>
                <th width="12%">手机</th>
                <th width="8%">状态</th>
                <th width="8%">昵称</th>
                <th width="8%">性别</th>
                <th width="8%">年龄</th>
                <th width="10%">图像</th>
                <th width="14%" ng-show="{{application.status === '认证中'}}">操作</th>
                <th width="14%" ng-show="{{application.status != '认证中'}}">操作</th>
                <th width="20%" ng-show="{{application.status === '认证中'}}">备注</th>
                <th width="20%" ng-show="{{application.status != '认证中'}}">备注</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="application in applications">
                <td>{{ application.applyTime | date:"yyyy-MM-dd HH:mm"}}</td>
                <td>{{ application.applyUser.phone }}</td>
                <td ng-style="getStatusColor(application.status)">{{ application.status}}</td>
                <td>{{ application.applyUser.nickname }}</td>
                <td>{{ application.applyUser.gender }}</td>
                <td>{{ application.applyUser.age }}</td>
                <td><img ng-src="{{application.applyUser.photo}}" ng-click="browsePhoto(application.applyUser.photo)"
                         width="40px" height="40px">
                </td>

                <td class="center" ng-show="{{application.status === '认证中'}}">
                    <button type="button" ng-click="accept(application)"
                            ng-show="{{application.status === '认证中'}}"
                            class="btn btn-primary">
                        <i class="fa fa-edit">同意</i>
                    </button>

                    <button type="button" ng-click="decline(application)"
                            ng-show="{{application.status === '认证中'}}"
                            class="btn btn-warning">
                        <i class="fa fa-edit">拒绝</i>
                    </button>
                </td>
                <td class="center" ng-show="{{application.status != '认证中'}}"> 已审核</td>
                <td ng-show="{{application.status === '认证中'}}">
                    <div class="col-md-10">
                        <input type="text" id="remarks" style="width:95%;" ng-model="application.remarks"/>
                    </div>
                    <div class="col-md-2">
                        <img ng-src="images/detail.gif" ng-click="showHistoryDetail(application)"/>
                    </div>
                </td>
                <td ng-show="{{application.status != '认证中'}}">
                    <div class="col-md-10">{{application.remarks}}</div>
                    <div class="col-md-2">
                        <img ng-src="images/detail.gif" ng-click="showHistoryDetail(application)"/>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <table class="pull-right">
        <thead>
        <tr>
            <th>
                <div><span>总计{{applications ? applications.length : 0}}条</span></div>
            </th>
        </tr>
        </thead>
    </table>
</form>

<!--<script>-->
<!--var showHistoryDetail = function (index, application) {-->
<!--alert('hi');-->
<!--};-->
<!--</script>-->



