<div class="page-header">
    <h1>用户活动列表</h1>
</div>
<!-- /.page-header -->
<form class="form-horizontal" role="form">

    <div class="form-inline col-md-12">

        <div class="col-md-2">
            <label class="control-label bolder blue" for="phone">创建人手机号码</label>

            <div class="controls">
                <input type="text" id="phone" ng-model="criteria.phone"
                       placeholder="手机号码">
            </div>
        </div>

        <div class="col-md-2">
            <label class="control-label bolder blue" for="province">省</label>

            <div class="controls">
                <select id="province" ng-model="criteria.province" ng-change="changeProvince(criteria.province)"
                        ng-options=" item.province as item.province for item in provinceOptions">
                    <option value="">全部</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <label class="control-label bolder blue" for="city">市</label>

            <div class="controls">
                <select id="city" ng-model="criteria.city"
                        ng-options=" item as item for item in cityOptions">
                    <option value="">全部</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <label class="control-label bolder blue" for="type">活动类型</label>

            <div class="controls">
                <select id="type" ng-init="criteria.type='-1'"
                        data-ng-model="criteria.type" style="width:100%;">
                    <option value="-1">全部</option>
                    <option value="吃饭">吃饭</option>
                    <option value="唱歌">唱歌</option>
                    <option value="看电影">看电影</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <label class="control-label bolder blue" for="pay">请客类型</label>

            <div class="controls">
                <select id="pay" ng-init="criteria.pay='-1'"
                        data-ng-model="criteria.pay" style="width:100%;">
                    <option value="-1">不限制</option>
                    <option value="我请客">我请客</option>
                    <option value="请我吧">请我吧</option>
                    <option value="AA制">AA制</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <label class="control-label bolder blue" for="transfer">包接送</label>

            <div class="controls">
                <select id="transfer" ng-init="criteria.transfer='-1'"
                        data-ng-model="criteria.transfer" style="width:100%;">
                    <option value="-1">不限制</option>
                    <option value="true">是</option>
                    <option value="false">否</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-inline col-md-12">
        <div class="col-md-2">
            <label class="control-label bolder blue" for="fromDate">创建日期 起</label>

            <div class="">
                <input type="text" id="fromDate" ui-date ui-date-format="yy-mm-dd" ng-model="criteria.fromDate"
                       placeholder="开始时间">
            </div>

        </div>
        <div class="col-md-2">
            <label class="control-label bolder blue" for="toDate">创建日期 止</label>

            <div class="">
                <input type="text" id="toDate" ui-date ui-date-format="yy-mm-dd" ng-model="criteria.toDate"
                       placeholder="结束时间">
            </div>
        </div>


    </div>


    <div class="form-inline col-md-12">
        <div class="clearfix visible‐xs‐block"></div>
        <div class="control-group pull-right">
            <button type="button" class="btn btn-info" ng-disabled="" ng-hide=""
                    ng-click="searchActivities(criteria)">查询
            </button>
            <button type="button" class="btn" ng-click="resetCriteria()">清除</button>
        </div>
    </div>

    <div class="control-group col-md-12">
        <table datatable="ng" dt-options="dtOptions" dt-instance="dtInstance" dt-columns="dtColumns"
               dt-column-defs="dtColumnDefs" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>全选 <input type="checkbox" id="checkItemAll" ng-model="allCheckItem"
                              ng-change="checkAll()"/></th>
                <th>创建人昵称</th>
                <th>活动发布地</th>
                <th>活动目的地</th>
                <th>活动类型</th>
                <th>请客类型</th>
                <th>包接送</th>
                <th>创建时间</th>
                <th>操作</th>
                <th style="display: none"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
            </tr>
            </tbody>
        </table>
    </div>
    <div class="control-group col-md-12">
        <button id="remove" ng-click="deleteActivities()">删除</button>
    </div>
    <table class="pull-right">
        <thead>
        <tr>
            <th>
                <div><span>总计{{total ? total : 0}}条</span></div>
            </th>
        </tr>
        </thead>
    </table>
</form>