<div class="">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <h4 class="modal-title">官方活动详情</h4>
        </div>
        <div class="form-horizontal" role="form">
            <div class="form-inline col-md-12">
                <h1 style="color:#0044cc">创建活动</h1>
            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="col-md-4">
                        <label style="color:red">*</label>活动标题
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <input type="text" id="title" ng-model="activity.title" required
                               placeholder="活动标题"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="col-md-4">
                        <label style="color:red">*</label>活动介绍
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <input type="text" id="instruction" ng-model="activity.instruction" required
                               placeholder="活动介绍"/>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div>
                        <div class="col-md-4">
                            <label style="color:red">*</label>省份
                        </div>
                        <div class="col-md-8" style="text-align:left">
                            <input type="text" id="province" ng-model="activity.destination.province" required />
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="col-md-4">
                        <label style="color:red">*</label>市
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <input type="text" id="city" ng-model="activity.destination.city" required/>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="col-md-4">
                        <label style="color:red">*</label>目的地
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <input type="text" id="destination" ng-model="activity.destination.detail"
                               placeholder="目的地" required/>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="col-md-4">
                        <label style="color:red">*</label>封面照片
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <div class="upload">
                            <div id="thumbnails"><img src="{{photoUrl}}" width="350px" height="300px"></div>
                            <input type="file" class="upload_file" multiple ng-model-instant id="uploadFile"
                                   onchange="angular.element(this).scope().uploadFile(this)" required>
                        </div>
                        <!--<input type="file" id="cover" onchange="angular.element(this).scope().sendFile(this)"-->
                        <!--placeholder="封面照片"/>-->
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <!--0 不限制 1 不限男女 2男女人数分别限制-->
                    <div class="col-md-2">
                        <input type="radio" name="limitType" id="limitType-1"
                               onchange="angular.element(this).scope().changeLimitType(this)" value="1"/>总设置数
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="limitType" id="limitType-2"
                               onchange="angular.element(this).scope().changeLimitType(this)" value="2"/>男女人数分别限制
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="limitType" id="limitType-0"
                               onchange="angular.element(this).scope().changeLimitType(this)" checked value="0"/>不限
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div ng-show="activity.limitType === 1" class="form-inline col-md-12">
                    <div class="col-md-12">
                        <input type="number" placeholder="参与人数总数" ng-model="activity.totalLimit"/>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            已参与0人
                        </div>
                    </div>
                </div>

            </div>

            <div ng-show="activity.limitType === 2" class="form-group">
                <div  class="form-inline col-md-12">
                    <div class="form-inline col-md-6">
                        <div>
                            <input type="number" placeholder="男性参与人数" ng-model="activity.maleLimit"/>
                        </div>
                        <div>
                            已参与0人
                        </div>
                    </div>
                    <div class="form-inline col-md-6">
                        <div>
                            <input type="number" placeholder="女性参与人数" ng-model="activity.femaleLimit"/>
                        </div>
                        <div>
                            已参与0人
                        </div>
                    </div>
                </div>

            </div>

            <div ng-show="activity.limitType === 0" class="form-group">
                <div  class="form-inline col-md-12">
                    <div class="col-md-12">
                        <input type="number" readonly="true" placeholder="参与人数总数"/>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4">
                            不限制
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="col-md-4">
                        <label style="color:red">*</label>门票价格
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <input type="number" id="price" ng-model="activity.price"
                               placeholder="门票价格"/>
                    </div>
                </div>

            </div>


            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="col-md-4">
                        <label style="color:red">*</label>官方补贴
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <input type="number" id="subsidyPrice" ng-model="activity.subsidyPrice"
                               placeholder="官方补贴"/>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="col-md-4">
                        <label style="color:red">*</label>开始时间
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <div class="col-md-6">
                            <input type="text" size="10" class="pickDate" ng-model="startTime.date" data-autoclose="1"
                                   placeholder="请输入日期" id="startDate" bs-datepicker>
                        </div>
                        <div class="col-md-6">
                            <input type="text" size="4" class="pickTime" ng-model="startTime.time" id="startTime"
                                   data-time-type="number" data-autoclose="1" placeholder="请输入时间" bs-timepicker>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="col-md-4">
                        <label style="color:red">*</label>结束时间
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <div class="col-md-6">
                            <input type="text" size="10" class="pickDate" ng-model="endTime.date" data-autoclose="1"
                                   placeholder="请输入日期" id="endDate" bs-datepicker>
                        </div>
                        <div class="col-md-6">
                            <input type="text" size="4" class="pickTime" ng-model="endTime.time" id="endTime"
                                   data-time-type="number" data-autoclose="1" placeholder="请输入时间" bs-timepicker>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="col-md-4">
                        <label style="color:red">*</label>活动内容
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <input type="text" id="description" ng-model="activity.description" required
                               placeholder="活动内容"/>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="col-md-4">
                        <label style="color:red">*</label>活动补充说明
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <input type="text" id="extraDesc" ng-model="activity.extraDesc" required
                               placeholder="活动补充说明"/>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="col-md-4">
                        <label style="color:red">*</label>第三方购票平台链接
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <input type="text" id="linkTicketUrl" ng-model="activity.linkTicketUrl"
                               placeholder="第三方购票平台链接"/>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="col-md-4">
                        <label style="color:red">*</label>是否上架
                    </div>
                    <div class="col-md-8" style="text-align:left">
                        <select id="onFlag" ng-init="activity.onFlag = 'false'" ng-model="activity.onFlag">
                            <option value="false">未上架</option>
                            <option value="true">上架</option>
                        </select>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>